<footer class="bg-black">
    <div class="py-4 d-flex flex-column align-items-center gap-5">
        <a class="text-decoration-none fs-5 text-white" href="/"><span class="fs-1">Motors</span> shop</a>
        <p class="fs-3 text-white text-center">
            © 2023 - Todos os direitos reservados.
        </p>
        <button class="bg-black-50 oi oi-arrow-top w-25" @onclick="scrollUp"></button>
    </div>
</footer>

@code {
    private void scrollUp()
    {
        Console.WriteLine("asd");
    }
}
