@page "/"

<PageTitle>Motors Shop</PageTitle>

<header>
    <img class="position-absolute center-image " src="./images/bg-1.png"/>
    <div class="position-relative">
        <h1>Motors Shop</h1>
        <h2>
            A melhor plataforma de anúncios de carros do país
        </h2>
    </div>


</header>
